body{
    background-color: rgb(6, 16, 30);
    object-fit: cover;
}

body nav{
    background: rgba(6, 16, 30, 0.8);
    backdrop-filter: blur(15px);
    font-family: 'Space Mono';
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand-container{
    margin-left: 1vw;
}

.navbar-brand{
    color: #60FFD9;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.navbar-brand:hover{
    color: #60FFD9;
}

.navbar-toggler{
    border: 1px solid #60FFD9;
    color: #60FFD9;
}

.navbar-toggler-icon{
    color: #60FFD9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse{
    font-size: 13px;
    justify-content: flex-end;
}

.navbar-nav{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin-right: 50px;
}

.nav-item{
    font-family: 'Space Mono';
    padding-left: 20px;
}

.num{
    font-family: 'Space Mono';
    color: #60FFD9;
}

.nav-link{
    color: #B0CDF1;
}

.btn-resume{
    background: rgb(6, 16, 30);
    color: #60FFD9;
    border: 1px solid rgb(96, 255, 217);
}

.btn-resume:hover{
    background: rgb(8, 20, 38);
}

.nav-link:hover{
    color: #60FFD9;
}

.heading{
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 700;
    color: #B0CDF1;
}

.btn-heading{
    background: rgb(6, 16, 30);
    color: #60FFD9;
    border: 1px solid rgb(96, 255, 217);
    padding: 15px 35px;
    font-size: 16px;
}

.btn-heading:hover{
    background: rgb(8, 20, 38);
}

.welcome-content-container{
    padding-left: 5vw;
    min-height: 100vh;
    padding-top: 20vh;
    display: flex;
    align-items: center;
}

.element1{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.element1-heading-container{
    display: flex;
    align-items: center;
    float: left;
}

.element1-heading{
    font-size: clamp(26px,5vw,40px);
    color: #B0CDF1;
}

.h{
    margin-left: 2vw;
    background-color: rgb(176, 205, 241);
    width: 40vw;
    height: 0.5px;
}

.element1-content{
    color: #A9A297;
    margin-top: 10vh;
    margin-bottom: auto;
    text-align: justify;
}

.element1-pic{
    display: flex;
}

.profile-pic{
    background: linear-gradient(rgba(0, 150, 114, 0.5),rgba(0, 150, 114, 0.5)), url('static/passportpic.jpeg');
    filter: brightness(70%) contrast(150%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 233px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    transform: scaleX(-1);
}

.profile-pic:hover{
    filter: saturate(150%) hue-rotate(10deg) contrast(150%);
    background: url('static/passportpic.jpeg');
    background-size: cover;
}

.profile-pic-border{
    transform: translateX(-7%) translateY(7%);
    transition: all 1s;
}

.profile-pic-border:hover{
    transform: translateX(0) translateY(0);
}

.element1-tech-container{
    display: flex;
}

.technology{
    padding-bottom: 10px;
}

.tech-bullet{
    display: inline;
}

.tech{
    font-family: 'Space Mono';
    font-size: 15px;
}

#tech:hover{
    color: #60FFD9;
}

.element2{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #A9A297;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    padding: 0;
    margin-bottom: auto;
    overflow-x: auto;
}

.tabs::-webkit-scrollbar{
    display: none;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid #60FFD9;
    font-family: 'Space Mono';
}

.tab.active {
    border-left: 2px solid #60FFD9;
    border-right: 2px solid #60FFD9;
    border-top: 2px solid #60FFD9;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    color: #60FFD9;
}

.tab:hover {
    color: #60FFD9;
}

.tab-heading{
    color: #60FFD9;
    margin-bottom: 10px;
}

.tab-content {
    margin-top: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-family: 'Space Mono';
}

.sections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-proj {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 70%;
  height: 350px;
  background: url(https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80) no-repeat center / cover;
  border-radius: 3px;
}
.right {
  width: 60%;
  height: 400px;
  background-color: rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  margin-left: -5vw;
}
#r2{
    transform: translateX(5vw);
}
.right h1 {
  font-weight: lighter;
}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.proj-description{
    background:#0E1B33;
}

@media only screen and (max-width: 768px) {
  .container-proj {
    flex-direction: column;
    width: 100%;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 100%;
    margin: 0;
    margin-top: -400px;
    background: rgba(8, 20, 38, 0.7);
    border-radius: 3px;
    padding: 10px;
  }
  #r2{
    margin-top: 0;
    transform: translateX(0);
  }
  #l2{
    margin-top: -400px;
  }
  .proj-description{
    padding: none;
    background: rgba(6, 16, 30, 0.5);
  }
}